@font-face {
  font-family: mainHeader;
  src: url('./assets/fonts/ArchivoBlack-Regular.ttf');
}
@font-face {
  font-family: subHeader;
  src: url('./assets/fonts/GentiumPlus-Regular.ttf');
}
@font-face {
  font-family: mainText;
  src: url('./assets/fonts/DMSerifDisplay-Regular.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root{
  --pri__color: #B94F4F;
  --side__nav: #E6E6FA;
  --sec__color: #FFE5E5;
  --acc__color: #F9ACAC;
  --shadow: #999999;
  --text__shadow: rgb(32, 32, 32);
}

#root{
  overflow: hidden;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
button{
  cursor: pointer;
  border: none;
}

.logged__out{
  position: absolute;
  width: 15rem;
  height: 4rem;
  background-color: rgb(180, 241, 180);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: subHeader;
  border-radius: .5rem;
  color: rgb(0, 75, 0);
  box-shadow: 2px 2px 5px var(--text__shadow);
  animation: logout 5s forwards;
}

@keyframes logout {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 100%;
  }
  100%{
    opacity: 0;
    display: none;
  }
}

.validation__main{
  background-color: var(--sec__color);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
}



.auth__form{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.5rem;
  background-color: var(--pri__color);
  width: clamp(25rem, 45vw, 30rem);
  box-shadow: 8px 8px 15px var(--shadow);
  border-radius: .5rem;
  gap: 2.5rem;
  min-height: 35rem;
}

.auth__input{
  font-family: subHeader;
  padding: 1rem;
  border-radius: .5rem;
  border: none;
}

label.auth__input{
  color: white;
  font-size: 1.125rem;
  text-shadow: 1px 1px 1px var(--shadow);
}

input.auth__input{
  box-shadow: 1px 2px 10px var(--text__shadow);
}

.input__block{
  display: flex;
  flex-direction: column;
}

.auth__button{
  font-family: subHeader;
  color: white;
  padding: 1rem;
  background-color: var(--acc__color);
  border: 1px solid white;
  border-radius: .5rem;
  margin-top: .8rem;
}

.auth__button:hover{
  background-color: var(--sec__color);
}
.input__block, .auth__button{
  width: 100%;
}
.auth__redirect{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}
.auth__redirect > *{
  color: white;
  font-family: subHeader;
}

.revert__padding{
  padding: 2rem 3.5rem 2rem 3.5rem;
  gap: .8rem;
}

.main__nav{
  position: relative;
  background-color: var(--pri__color);
  height: 5.35rem;
  padding: 0 2.5rem 0 2.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 3px 10px var(--text__shadow);
  z-index: 3;
}

.link__home{
  color: white;
  font-family: mainHeader;
  font-size: 2rem;
  align-self: center;
  text-shadow: 1px 6px 4px var(--text__shadow);
}

.link__home:hover{
  text-decoration: none;
  opacity: .8;
}

.nav__link__container{
  list-style-type: none;
  display: flex;
  gap: 1rem;
  align-self: center;
  justify-self: end;
}
.nav__link__container li{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__link__container > * > a{
  color: white;
  font-family: mainHeader;
  font-size: 1.25rem;
}

.nav__link__container > :last-child > a, .nav__link__container button{
  color: white;
  font-family: mainHeader;
  font-size: 1.25rem;
  background-color: var(--acc__color);
  padding: .5rem 1.5rem .5rem 1.5rem;
}

.nav__link__container > :last-child > a:hover, .nav__link__container button:hover{
  text-decoration: none;
  opacity: .8;
}

.home__header{
  background-color: var(--sec__color);
  height: 75svh;
  min-width: 20rem;
  padding: 2rem 4rem 2rem 4rem;
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  position: relative;
  box-shadow: 0 4px 5px var(--shadow);
}

.hero__image{
  grid-column: 2 / 3;
  background: url('./assets/images/blog header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__text{
  position: absolute;
  left: 2.5rem;
  top: 20%;
}

.header__text > *{
  font-family: mainHeader;
  font-size: 6.5rem;
  color: var(--pri__color);
  text-shadow: 2px 3px 5px var(--text__shadow);
}

.header__text > :nth-child(2){
  margin-left: clamp(0rem, 15vw, 15rem);
}

.trending__header, .next__container{
  width: clamp(20rem, 100%, 78.125rem);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trending__header{
  margin-bottom: 1rem;
}

.trending__header > *{
  font-family: mainHeader;
  color: var(--pri__color);
  font-size: 3rem;
  text-shadow: 2px 2px 4px var(--text__shadow)
}

footer{
  background-color: var(--pri__color);
  height: 18.5rem;
  min-width: 20rem;
  padding: 2.5rem 2.5rem 5rem 2.5rem;
  display: grid;
  grid-template-columns: 66% 33%;
}

.footer__header{
  align-self: flex-start;
}

.footer__content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.socials__container{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  gap: 1rem;
}

.socials__container > :first-child{
  font-size: 1.25rem;
  font-family: subHeader;
  color: white;
}

.link__social > *{
  width: 1.725rem;
  height: 1.725rem;
  color: white;
}

.footer__content__other{
  display: flex;
}

.footer__links{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: fit-content;
}

.footer__link{
  font-size: 1.25rem;
  font-family: subHeader;
  color: white;
}

.copy__right{
  font-size: clamp(.5rem, 3vw, 1.25rem);
  font-family: subHeader;
  width: 100%;
  color:  white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.home__main{
  padding: 0 15% 0 15%;
}
.blog__container{
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.blog__card{
  container-type: inline-size;
  width: clamp(20rem, 100%, 78.125rem);
  min-height: 40rem;
  background-color: var(--sec__color);
  border: 2px solid var(--pri__color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem 2rem 4rem 2rem;
  column-gap: 2.5rem;
  box-shadow: 2px 2px 10px var(--shadow);
}

.blog__image{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}
.blog__image__content{
  width: inherit;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog__image::after{
  position: absolute;
  content: '';
  inset: 0 0 0 0;
  background-color: black;
  opacity: .2;
  z-index: 3;
}



.blog__text{
  font-family: mainText;
  font-size: 1.125rem;
}

.blog__aside{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.blog__header{
  align-self: flex-start;
  font-size: 2.5rem;
  font-weight: 550;
  font-family: subHeader;
}

.blog__aside__footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.blog__open{
  padding: 1rem 1.725rem 1rem 1.725rem;
  font-size: 1.125rem;
  background-color: var(--pri__color);
  font-family: mainHeader;
  color: white;
}

.blog__author{
  font-family: subHeader;
  font-size: 1.25rem;
  align-self: center;
}

.next__container{
  margin-top: 1rem;
  flex-direction: column;
  gap:  1rem;
}

.next__container button{
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-color: var(--pri__color);
  color: white;
  font-family: mainHeader;
  font-size: 1.25rem;
  border: 2px solid var(--acc__color);
}

.next__container p{
  color: var(--pri__color);
  font-size: 1.25rem;
  font-family: mainHeader;
}


@media (max-width: 1260px){
  .home__header{
    display: block;
    min-width: 20rem;
    
  }
  .hero__image{
    width: 100%;
    height: 100%;
  }
  .header__text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: centers;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header__text > *{
    font-size: clamp(1.25rem, 10vw, 4rem);
  }
  .header__text > :nth-child(2){
    margin: 0;
    font-size: clamp(1rem, 5vw, 4rem);
  }
}

@media (max-width: 1200px){
  .blog__card {
    grid-template-columns: none;
    grid-template-rows: 1fr .5fr;
  }

  .blog__image{
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1000px){
  footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
  }
  .footer__header{
    display: none;
  }
}

@media (max-width: 650px){
  .main__nav{
    display: none;
  }
  .blog__text{
    display: none;
  }
  .blog__aside__footer{
    flex-direction: column;
    gap: 1rem;
  }
  .trending__header *{
    text-align: center;
  }
}

@media (max-width: 400px){
  .home__header{
    padding: 0;
  }
  .home__main{
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 320px){
  #root{
    overflow: auto;
  }
}

.loading__circle{
  width: 6.25rem;
  height: 6.25rem;
  background: conic-gradient(white 0deg 90deg, transparent 90deg 360deg);
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loading .3s linear infinite;
}

.loading__circle div{
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: var(--pri__color);
  border: 2px solid white;
}

.loading__dash{
  background: conic-gradient(var(--acc__color) 0deg 90deg, transparent 90deg 360deg);
  border: 2px solid var(--acc__color);
}

.loading__dash div{
  border: 2px solid var(--acc__color);
  background-color: white;
}

.loading__container{
  height: calc(100svh - 5.35rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes loading {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.error{
  width: 100%;
  color: rgb(255, 255, 255);
  font-family: subHeader;
  padding-left: 1rem;
}


.dashboard__container{
  height: calc(100svh - 5.35rem);
  display: flex;
}

.dashboard__nav{
  position: relative;
  width: clamp(8rem, 25vw, 23.25rem);
  height: calc(100svh - 5.35rem);
  background-color: var(--acc__color);
  padding-top: 3rem;
  display: grid;
  grid-template-rows: repeat(4, 5rem);
}

.dashboard__nav > button{
  padding: 0 3rem 0 3rem;
  font-family: mainHeader;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: transparent;
}

.dashboard__nav > button:hover{
  background-color: var(--pri__color);
}

.dashboard__nav::after{
  position: absolute;
  content: '';
  inset: 0 0 0 0%;
  box-shadow: 5px 0 15px grey;
  z-index: -2;
}

.dash__nav__icon{
  width: 50px;
  height: 50px;
  color: white;
  align-self: center;
}

.dashboard__nav__link > p{
  align-self: center;
  justify-self: start;
  font-size: 1rem;
}

.create__button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.create__button > a {
  padding: 1rem 5rem 1rem 5rem;
  font-size: 1rem;
  background-color: var(--pri__color);
  color: white;
  font-family: mainHeader;
}

.create__button:hover{
  background-color: var(--pri__color);
}


.user__content > div{
  width: calc(100vw - clamp(8rem, 25vw, 23.25rem));
  height: calc(100svh - 5.35rem);
  overflow: auto;
  scrollbar-width: none;
  padding: 5rem clamp(3rem, 15%, 10rem) 5rem clamp(3rem, 15%, 10rem);
  gap: 5rem;
}

.published > div {
  margin-bottom: 5rem;
}

.wrapper{
  container-type: inline-size;
  container-name: wrapper-container;
}

@container wrapper-container (max-width: 750px){
  .blog__card {
    grid-template-columns: none;
    grid-template-rows: 1fr .5fr;
  }

  .blog__image{
    width: 100%;
    height: 100%;
  }
}

@container wrapper-container (max-width: 550px){
  .blog__text{
    display: none;
  }
  .blog__aside__footer{
    flex-direction: column;
    gap: 1rem;
  }
}

.side__nav__wrapper{
  width: calc(100vw - clamp(8rem, 25vw, 23.25rem));
  container-type: inline-size;
  container-name: side-nav;
}


@container side-nav (max-width: 315px){
  .dashboard__nav{
    width: 8rem;
    height: calc(100svh - 5.35rem);
    background-color: var(--acc__color);
    padding-top: 3rem;
    display: grid;
    grid-template-rows: repeat(4, 5rem);
  }
  
  .dashboard__nav > button{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dashboard__nav > button > p{
    display: none;
  }
  
  .create__button{
    width: 8rem;
    background-color: var(--pri__color);
    transition: .5s ease-in-out;
  }

  .create__button > button {
    padding: .5rem;
    font-size: auto;
  }
}

@media (max-width: 510px){
  .dashboard__nav, .side__nav__wrapper{
    display: none;
  }
  .user__content > div{
    width: 100vw;
  }
}

.blog__creation__container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: clamp(3rem, 15vw, 10rem);
  padding-right: clamp(3rem, 15vw, 10rem);
  padding-top: clamp(3rem, 3vw, 8rem);
  padding-bottom: clamp(3rem, 3vw, 8rem);
  background-color: var(--sec__color);
  min-height: calc(100vh - 23.85rem);
}

.blog__form{
  width: 100%;
  padding: clamp(3rem, 25%, 5rem);
  min-width: 20rem;
  max-width: 50rem;
  height: 100%;
  background: rgb(252, 252, 252);
  box-shadow: 5px 5px 10px var(--shadow);
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.blog__form > input {
  width: 100%;
}

label.iblog__title{
  font-family: subHeader;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
input.iblog__title{
  height: 4rem;
  font-family: subHeader;
  text-align: center;
  font-size: clamp(1rem, 2vw, 2rem);
  border: none;
  box-shadow: 2px 2px 6px grey;
}



.iblog__syn{
  width: 80%;
  aspect-ratio: 1 / .25;
  font-family: mainText;
  border: none;
  box-shadow: 2px 2px 6px grey;
  text-align: start;
  align-self: center;
  padding: .5rem;
  min-height: 8rem;
  resize: none;
}

.liblog__syn, .liblog__text{
  font-family: subHeader;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.iblog__image{
  position: relative;
  width: 60%;
  border: 1px dashed black;
  aspect-ratio: 1 / .5;
  cursor: pointer;
}

.iblog__image::after{
  position: absolute;
  content: '+';
  top: 50%;
  left: 50%;
  width: 25%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  border: 1px dashed black;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iblog__text__container{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.iblog__text{
  font-family: mainText;
  aspect-ratio: 1 / .5;
  padding: .5rem;
  min-height: 17.5rem;
  resize: none;
}

.loading__create{
  background-color: var(--acc__color);
}

.loading__create{
  background: conic-gradient(var(--acc__color) 0deg 90deg, transparent 90deg 360deg);
  border: 2px solid var(--acc__color);
}

.loading__create div{
  border: 2px solid var(--acc__color);
  background-color: var(--sec__color);
}