@font-face {
  font-family: mainHeader;
  src: url('./assets/fonts/ArchivoBlack-Regular.ttf');
}
@font-face {
  font-family: subHeader;
  src: url('./assets/fonts/GentiumPlus-Regular.ttf');
}
@font-face {
  font-family: mainText;
  src: url('./assets/fonts/DMSerifDisplay-Regular.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --pri__color: #B94F4F;
  --side__nav: #E6E6FA;
  --sec__color: #FFE5E5;
  --acc__color: #F9ACAC;
  --shadow: #999999;
  --text__shadow: rgb(32, 32, 32);
}

#root{
  overflow: hidden;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
button{
  cursor: pointer;
  border: none;
}

.validation__main{
  background-color: var(--sec__color);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
}



.auth__form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3.5rem;
  background-color: var(--pri__color);
  width: clamp(25rem, 45vw, 30rem);
  min-height: 35rem;
  height: auto;
  box-shadow: 8px 8px 15px var(--shadow);
  border-radius: .5rem;
}

.auth__input{
  font-family: subHeader;
  padding: 1rem;
  border-radius: .5rem;
  border: none;
}

label.auth__input{
  color: white;
  font-size: 1.125rem;
  text-shadow: 1px 1px 1px var(--shadow);
}

.input__block{
  display: flex;
  flex-direction: column;
}

.auth__button{
  font-family: subHeader;
  color: white;
  margin-top: auto;
  padding: 1rem;
  background-color: var(--acc__color);
  border: 1px solid white;
  border-radius: .5rem;
}

.auth__button:hover{
  background-color: var(--sec__color);
}

.auth__redirect{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}
.auth__redirect > *{
  color: white;
}

.revert__padding{
  padding: 2rem 3.5rem 2rem 3.5rem;
  gap: .8rem;
}

.main__nav{
  background-color: var(--pri__color);
  height: 5.35rem;
  padding: 0 2.5rem 0 2.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.link__home{
  color: white;
  font-family: mainHeader;
  font-size: 2rem;
  align-self: center;
  text-shadow: 1px 6px 4px var(--text__shadow);
}

.link__home:hover{
  text-decoration: none;
  opacity: .8;
}

.nav__link__container{
  list-style-type: none;
  display: flex;
  gap: 1rem;
  align-self: center;
  justify-self: end;
}

.nav__link__container > * > a{
  color: white;
  font-family: mainHeader;
  font-size: 1.25rem;
}

.nav__link__container > :last-child > a{
  color: white;
  font-family: mainHeader;
  font-size: 1.25rem;
  background-color: var(--acc__color);
  padding: .5rem 1.5rem .5rem 1.5rem;
}

.nav__link__container > :last-child > a:hover{
  text-decoration: none;
  opacity: .8;
}

.home__header{
  background-color: var(--sec__color);
  height: 75svh;
  padding: 2rem 4rem 2rem 4rem;
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  position: relative;
  box-shadow: 0 4px 5px var(--shadow);
}

.hero__image{
  grid-column: 2 / 3;
  background: url('./assets/images/blog header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__text{
  position: absolute;
  left: 2.5rem;
  top: 20%;
}

.header__text > *{
  font-family: mainHeader;
  font-size: 6.5rem;
  color: var(--pri__color);
  text-shadow: 2px 3px 5px var(--text__shadow);
}

.header__text > :nth-child(2){
  margin-left: clamp(0rem, 15vw, 15rem);
}

.trending__header{
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trending__header > *{
  font-family: mainHeader;
  color: var(--pri__color);
  font-size: 3rem;
  text-shadow: 2px 2px 4px var(--text__shadow)
}

footer{
  background-color: var(--pri__color);
  height: 18.5rem;
  padding: 2.5rem 2.5rem 5rem 2.5rem;
  display: grid;
  grid-template-columns: 66% 33%;
}

.footer__header{
  align-self: flex-start;
}

.footer__content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.socials__container{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  gap: 1rem;
}

.socials__container > :first-child{
  font-size: 1.25rem;
  font-family: subHeader;
  color: white;
}

.link__social > *{
  width: 1.725rem;
  height: 1.725rem;
  color: white;
}

.footer__content__other{
  display: flex;
}

.footer__links{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__link{
  font-size: 1.25rem;
  font-family: subHeader;
  color: white;
}

.copy__right{
  font-size: 1.25rem;
  font-family: subHeader;
  width: 100%;
  color:  white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}